<h1><center>Coco is a bad cat</center></h1>

<body><i><center>Give me a refund</center></i></body>

<body bgcolor="black">
<p align="center">
<body text= "#facbcb">
<a href="https://www.facebook.com/Rataficionado">Coco's slave</a>
<p>
<center>
<IMG SRC="http://i.imgur.com/JdbimIQ.jpg" ALT="some text" WIDTH=400 HEIGHT=500>


<IMG SRC="http://i.imgur.com/yPehjpR.jpg" ALT="some text" WIDTH=400 HEIGHT=450>
</center>
</p>
